altgraph==0.15
certifi==2018.4.16
click==6.7
Flask==1.0.2
future==0.16.0
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
macholib==1.9
MarkupSafe==1.0
pefile==2017.11.5
pipenv==2018.6.25
PyInstaller==3.3.1
pypiwin32==223
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
